<nz-layout class="layout">
  <nz-header>
    <div class="logo"
         [style.background]="'url(assets/img/expense_icon2_ex.png)'"></div>
    <div class="logo-text">Bills Manager</div>
<!--    <ul nz-menu nzTheme="dark" nzMode="horizontal">-->
<!--      <li nz-menu-item>nav 1</li>-->
<!--    </ul>-->
  </nz-header>
  <nz-content>
<!--    <nz-breadcrumb>-->
<!--      <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
<!--      <nz-breadcrumb-item>List</nz-breadcrumb-item>-->
<!--      <nz-breadcrumb-item>App</nz-breadcrumb-item>-->
<!--    </nz-breadcrumb>-->
    <div class="inner-content">

      <div nz-row >
        <div nz-col [nzSpan]="12" >
            <nz-form-control>
              <input
                nz-input
                placeholder="Balance"
                [(ngModel)]="curBalance"
                [value]="billResults.cur_balance"
              />
            </nz-form-control>
        </div>
        <div nz-col [nzSpan]="12" >
            <nz-form-control>
              <nz-date-picker [(ngModel)]="currentDate" (ngModelChange)="onChange($event)" ></nz-date-picker>
            </nz-form-control>
        </div>
        <div nz-col [nzSpan]="6" >
          <nz-form-control>
            <button nz-button [nzType]="'primary'" (click)="loadBills()">Search</button>
          </nz-form-control>
        </div>
      </div>

      <div style="clear: both; height: 15px;"></div>



      <app-days-of-week
        [billsDays]="billsList"
      ></app-days-of-week>
    </div>
  </nz-content>

</nz-layout>
