<nz-layout class="layout">
  <nz-header>
    <div class="logo"
         [style.background]="'url(assets/img/expense_icon2_ex.png)'"></div>
    <div class="logo-text">Bills Manager</div>
<!--    <ul nz-menu nzTheme="dark" nzMode="horizontal">-->
<!--      <li nz-menu-item>nav 1</li>-->
<!--    </ul>-->
  </nz-header>
  <nz-content>
<!--    <nz-breadcrumb>-->
<!--      <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
<!--      <nz-breadcrumb-item>List</nz-breadcrumb-item>-->
<!--      <nz-breadcrumb-item>App</nz-breadcrumb-item>-->
<!--    </nz-breadcrumb>-->
    <div class="inner-content">

      <div nz-row >
        <div nz-col [nzMd]="{ span: 8 }" [nzXs]="{ span: 12 }" *ngIf="billResults">
            <nz-form-control>
              <input
                nz-input
                placeholder="Balance"
                [(ngModel)]="curBalance"
                [value]="billResults.cur_balance"
              />
            </nz-form-control>
        </div>
        <div nz-col [nzMd]="{ span: 6 }" [nzXs]="{ span: 12 }" >
            <nz-form-control>
              <nz-date-picker [(ngModel)]="currentDate" (ngModelChange)="onChange($event)" ></nz-date-picker>

            </nz-form-control>
        </div>
        <div nz-col [nzMd]="{ span: 6 }" [nzXs]="{ span: 8 }" >
          <nz-form-control>
            <input
              nz-input
              placeholder="Extra Days"
              [(ngModel)]="numDaysPayPeriod"
              [value]="numDaysPayPeriod"
            />
          </nz-form-control>
        </div>
        <div nz-col [nzMd]="{ span: 4 }" [nzXs]="{ span: 6 }" >
          <nz-form-control>
            <button nz-button [nzType]="'primary'" (click)="updatePayPeriodNumDays()">Update</button>
          </nz-form-control>
        </div>
        <div nz-col [nzMd]="{ span: 10 }" [nzXs]="{ span: 24 }" >
          <nz-form-control>
            <button nz-button [nzType]="'default'" (click)="loadToday()">Today</button>
            <button nz-button [nzType]="'default'" (click)="loadPrevDate()">Previous</button>
            <button nz-button [nzType]="'default'" (click)="loadNextDate()">Next</button>
            <button nz-button [nzType]="'danger'" (click)="toggleExpand()">{{ (!isExpanded) ? 'Expand' : 'Collapse' }}</button>
            <button nz-button [nzType]="'primary'" (click)="setDefaultsAndSearch()">Search</button>
          </nz-form-control>
        </div>
        <div nz-col [nzMd]="{ span: 10 }" [nzXs]="{ span: 24 }" >
          <nz-form-control>

            Daily: <input
              nz-input
              placeholder="Day"
              [(ngModel)]="disposablePerDay"
              [value]="disposablePerDay"
              [style.width]="'50px'"
            />&nbsp;
            Height: <input
            nz-input
            placeholder="Day"
            [(ngModel)]="expandHeight"
            [value]="expandHeight"
            [style.width]="'50px'" />&nbsp;
            Days: <span style="font-weight: bold; color: #1890ff">{{ finalDays }}</span>
            Dispose Need:
            <span style="font-weight: bold; color: #1890ff">${{ getDisposableNeeded() }}</span>&nbsp;Dispose Left: <span style="font-weight: bold; color: #2aa80a">${{ getDisposableLeft() }}</span>&nbsp;
            Test Mode: <nz-switch [(ngModel)]="testMode"></nz-switch>



          </nz-form-control>

        </div>
      </div>

      <div style="clear: both; height: 15px;"></div>



      <app-days-of-week
        [billsDays]="billsList"
        [isExpanded]="isExpanded"
        [expandHeight]="expandHeight"
        (shouldCallToggleEnabled)="updateRunningTotals()"
      ></app-days-of-week>
    </div>
  </nz-content>

</nz-layout>
